@import url('https://fonts.googleapis.com/css?family=Work+Sans:500');

.App-intro {
  font-size: large;
}

h2 {
  text-align: center;
  text-decoration: none;
}

li {
  text-align: center;
  margin: 5px 0px;
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

body {
	margin: 0;
  background-image: url("knots.png");
  background-size: 100%;
	font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: rgb(46, 46, 46);
}

.button {
  font-family: 'Work Sans', sans-serif;
}

.categories-list li{
  text-align: center;
  vertical-align: middle;
  margin-bottom: 10px;
  cursor: pointer;
}

.categories-list li:hover {
  color:  rgb(22, 94, 161);
}