.question-view {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.categories-list{
  margin: 10px;
}

.questions-list form{
  width: 40%;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
}

.questions-list .search-input{
  width: 200px;
  border: 1px solid rgb(169, 169, 169);
  border-right: none;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.questions-list > form > .button{
  margin: 0;
  width: 25px;
}

.searchButton{
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(169, 169, 169);
  border-left: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding-bottom: 0px;
  padding-top: 4px;
}

select{
  background-color: white;
  border-radius: 2px;
  height: 25px;
}

.questions-list {
  flex-basis: 60%;
  text-align: center;
  padding-top: 100px;
}

.questions-list h2{
  font-size: 30px;
}

.Question-holder {
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.Question-status {
  display: flex;
  flex-direction: row;
  height: 30px;
  width: 200px;
  margin-left: calc(50% - 100px);
  align-items: center;
  justify-content: space-between;
}

.Question {
  font-size: 21px;
  text-align: center;
  margin: 10px;
}

.answer-holder {
  font-size: 25px;
  height: 25px;
  margin: 10px 0px;
}

.show-answer {
  width: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  padding: 3px 5px;
  text-align: center;
}

.pagination-menu{
  padding-bottom: 50px;
}

span.page-num {
  margin: 5px;
  color: rgb(22, 94, 161);
  font-weight: bolder;
  text-decoration: underline;
  font-size: 16px;
  cursor: pointer;
}

span.page-num.active {
  color:  black;
  text-decoration: none;
}

img.category {
  width: 20px;
}

.delete img {
  width: 20px;
  cursor: pointer;
}

.edit img{
  width: 15px;
  cursor: pointer;
}

.tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: black;
  color: #fff;
  text-align: center;
  margin-top: 2px;
  margin-left: 3px;
  padding: 5px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.nodelete img {
  width: 20px;
  opacity: 0.3;
}

.noedit img{
  width: 15px;
  opacity: 0.3;
}

.category-icon{
  margin-top: 5px;
}

.category-icon:hover .tooltiptext{
  visibility: visible;
}

.nodelete:hover .tooltiptext {
  visibility: visible;
}

.noedit:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 900px) {

  .questions-list {
    padding-top: 60px;
    flex-basis: 90%;
  }

}