.quiz-play-holder {
    width: 80%;
    margin-left: 10%;
    text-align: center;
    margin-top: 0px;
}

.category-holder {
    margin-top: 10px;
    font-size: 24px;
}

.choose-header {
    font-size: 30px;
    font-weight: bold;
    padding-top: 150px;
}

.play-category:hover {
    color:  rgb(22, 94, 161);
    cursor: pointer;
}

.button {
    width: 150px;
    margin-top: 5px;
    border: none;
    background-color:  rgb(132, 139, 146);
    color: white;
    padding: 3px 5px;
    align-self: center;
    transition-duration: 0.2s;
    cursor: pointer;
}

.button:hover {
    background-color:  rgb(22, 94, 161);
    color: white;
  }

div.button {
    margin-top: 10px;
    margin-left: calc(50% - 75px);
}

.quiz-question {
    margin: 0px;
    font-size: 24px;
    padding-top: 150px;
}

.correct {
    align-self: center;
    margin: 20px;
    color: green;
}

.wrong {
    align-self: center;
    margin: 20px;
    color: red;
}

input[type=text] {
    align-self: center;
    width: 40%;
    margin: 20px;
}

.final-header{
    padding-top: 150px;
    font-size: 30px;
}